body {
    line-height: 1.2em;
    background-color: #e8f0f6;
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Meiryo UI', 'MS PGothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
    margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Meiryo UI', 'MS PGothic', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row{
    margin-right: -5px;
    margin-left: -5px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    max-width: 960px;
}

a {
    color: #15c;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

div.box{
    padding: 5px;
    background: white;
    border-radius: 4px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
@media (min-width: 768px){
    div.box.sm-mh300{
        min-height: 300px;
    }
}

.mode1{
    background: #DFD;
}
.mode2{
    background: #DDD;
}
.mode3{
    background: #FCF;
}
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
/*.box {
    background: #fff;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 10px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


div.icon{
    width: 24px;
    height: 24px;
    background-image: url('Image/my006.png');
}

ul.actors{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.actors li{
    text-align: center;
    width: 135px;
    height: 64px;
    float: left;
    border: solid 1px #CCC;
    white-space: nowrap;
    overflow: hidden;
}
ul.actors li.me{
    border: solid 1px yellow;
}
ul.actors li div.name{
}
ul.actors li table{
    margin-left: auto;
    margin-right: auto;
}

ul.messages{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.messages li{
    margin: 0;
    padding: 9px 12px;
    background: white;
    border-bottom: solid 1px #e8e8e8;
    color: #333;
}
ul.messages li.mode1 {
    background: #DFD;
}

ul.messages li.mode2 {
    background: #DDD;
}

ul.messages li.mode3 {
    background: #FCF;
}
ul.messages li div.from:after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
ul.messages li div.from span.name{
    font-weight: bold;
    font-size: 14px;
}
ul.messages li div.from span.to{
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
ul.messages li div.from span.time{
    float: right;
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
ul.messages li div.body{
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

#RoomSendBox.mode1{
    background: #DFD;
}
#RoomSendBox.mode2{
    background: #DDD;
}
#RoomSendBox.mode3{
    background: #FCF;
}