body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}




/* Override */
body{
    line-height: 1.2em;
}


div.icon{
    width: 24px;
    height: 24px;
    background-image: url('Image/my006.png');
}

ul.actors{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.actors li{
    text-align: center;
    width: 135px;
    height: 64px;
    float: left;
    border: solid 1px #CCC;
    white-space: nowrap;
    overflow: hidden;
}
ul.actors li div.name{
    background: red;
}
ul.actors li table{
    //width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul.messages{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.messages li{
    margin: 0;
    padding: 9px 12px;
    background: white;
    border-bottom: solid 1px #e8e8e8;
    color: #333;
}
ul.messages li.mode1 {
    background: #DFD;
}

ul.messages li.mode2 {
    background: #DDD;
}

ul.messages li.mode3 {
    background: #FCF;
}
ul.messages li div.from:after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}
ul.messages li div.from span.name{
    font-weight: bold;
    font-size: 14px;
    background: red;
}
ul.messages li div.from span.to{
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
ul.messages li div.from span.time{
    float: right;
    font-weight: normal;
    font-size: 12px;
    color: #999;
}
ul.messages li div.body{
    margin-top: 2px;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}