@{
    ViewBag.Title = "About";
}
<div class="box">
    <h2>遊び方</h2>
    <p>詳細は執筆中です。人狼ゲームオンライン1からお越しの方は、以下の人狼ゲームオンライン1との違いをご覧ください。</p>
</div>

<div class="box">
    <h3>人狼ゲームオンライン1との主な違い</h3>
    <div class="alert alert-info">ゲーム画面は自動で更新されますのでブラウザの更新ボタンを押さないようにお気を付けください。</div>
    <dl class="basic">
        <dt>Google+アカウントでログインするようになりました。</dt>
        <dd>
            これによりパスワードを忘れてしまう心配や、それを入力する手間がなくなりました。
            また、Google+アカウントは大量に取得できないため、悪いプレイヤーが複数のアカウントを使って皆さんを困らせることが以前よりもずっと難しくなりました。
        </dd>

        <dt>ひとつのアカウントで複数のキャラクターを持てるようになりました。</dt>
        <dd>
            Google+アカウントの取得が難しいため、代わりにひとつのアカウントで3人までキャラクターを持てるようになりました。
            戦績はキャラクターごとに記録されます。
            人数の上限は今後5人程度まで開放される予定です。
        </dd>

        <dt>通報機能が使えるようになりました。</dt>
        <dd>
            村の中でメッセージの横にあるボタンを押すことで、不正な利用を通報できるようになりました。
            また、通報時にはメッセージやキャラクター情報のコピーが保存されるため、悪いプレイヤーが村を抜けたり破壊するなどして証拠の隠滅を図ることがとても難しくなりました。
        </dd>

        <dt>とても高速になりました。</dt>
        <dd>
            ゲームエンジンと通信方法が一新され、さらにバックボーン回線が以前の約2.5倍になりました。(2014/4/18時点)
            これにより以前よりもはるかに高速になりました。
            もうラグでご不便をおかけすることは、きっとありません。
        </dd>

        <dt>サーバが分割されました。</dt>
        <dd>
            村の一覧と外のチャットが @Html.ActionLink("サーバごとに分割されました。", "Index", "Game")
            現在は『東京第一サーバ』と『東京第二サーバ』があります。
            キャラクターと戦績は全てのサーバで共有されます。
        </dd>

        <dt>村の記録をダウンロードできるようになりました。</dt>
        <dd>
            @Html.ActionLink("こちらから記録を閲覧したり、パソコンをお使いの場合は1クリックでダウンロードもできるようになりました。", "Index", "PlayLog")
            思い出の名勝負を是非お使いの端末にも保存してください。
        </dd>
    </dl>

    <h3>人狼ゲームオンライン1との細かな違い</h3>
    <dl class="basic">
        <dt>無人の村が自動的に放棄されるようになりました。</dt>
        <dd>これにより村の乱立や村立て放置が減少すると期待されます。</dd>

        <dt>村の中で更新が不要になりました。</dt>
        <dd>
            自動的かつリアルタイムに村の情報が共有されるようになりました。
        </dd>

        <dt>今のところ短期人狼だけ遊べます。</dt>
        <dd></dd>

        <dt>今のところ機能が少なめです。</dt>
        <dd>随時追加される予定です。1とはやや異なる方向に進化するかもしれません。</dd>

        <dt>人狼が仲間を襲撃できるようになりました。</dt>
        <dd>
            これにより人狼側の戦略の幅が広がりました。
            しかし、むやみに仲間を襲ったりはしないでください。
        </dd>

        <dt>こっそり英語モードが追加されました。</dt>
        <dd>
            @Html.ActionLink("こちら", "Index", new { controller = "Game", culture = "en-US" }, new { target = "_blank" }) からゲームに参加すると...
            (このモードは現在冗談として提供されています。)
        </dd>
    </dl>
</div>

<div class="box">
    <h3>推奨動作環境</h3>
    <table class="table">
        <thead>
            <tr>
                <th>OS</th>
                <th>ブラウザ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Windows 7+</td>
                <td>Google Chrome, IE10+</td>
            </tr>
            <tr>
                <td>Mac OS X Lion+</td>
                <td>Google Chrome, Safari</td>
            </tr>
            <tr>
                <td>各種Linux</td>
                <td>Google Chrome</td>
            </tr>
            <tr>
                <td>Android 2.3.1+</td>
                <td><strong>Google Chrome</strong> *3</td>
            </tr>
            <tr>
                <td>iOS 6+</td>
                <td>Safari Mobile</td>
            </tr>
            <tr>
                <td>Windows Phone 8+</td>
                <td>IE Mobile</td>
            </tr>
        </tbody>
    </table>
    <p>*1 動作を保証するものではございません。</p>
    <p>*2 バージョンの記載がない場合は最新のものをご利用ください。</p>
    <p>*3 Androidをお使いの方は是非Google Chromeをご利用ください。付属の『ブラウザ』よりも通信能力が高くより快適に遊べます。</p>
</div>

<div class="box">
    <h3>開発者からのメッセージ</h3>
    <p>
        このゲームは、人狼とゲームが大好きなとある技術者が、個人で開発と運営をしています。
        人狼ゲームの一番の楽しさはプレイヤーの思惑によって予想外のことが起こるところにあると思いますので、
        決まったパターンのゲーム進行が起こりにくいようバランス調整を行ってまいります。
        また、新しい役職も追加させていただく予定ですのでどうぞご期待ください。
    </p>
</div>

<div class="box">
    <h3>FAQ</h3>
    <dl class="basic">
        <dt>Q. 人狼ゲームオンライン2が正式に公開されるとき、1はおしまいになりますか？</dt>
        <dd>A. いいえ。2でのプレイをお勧めしますが、1も引き続き運営されます。</dd>

        <dt>Q. 『test』以外に管理人やその関係者をにおわせるプレイヤーがいるのだけれど...</dt>
        <dd>
            A. 間違いなく偽物です。どうか絶対に信用しないでください。
            管理人は現在『test』というキャラクターだけを使用しています。
            そのキャラクターのメッセージは緑色になり、他のプレイヤーとは見分けがつくようになっています。
            また、このサイトで管理人の知り合いは一切遊んでいません。(いたとしても、こっそり遊んでいるようです。)
        </dd>

        <dt>Q. 要望を投書したい。</dt>
        <dd>
            A. 公式Twitterアカウントへメッセージを送っていただけば必ず拝読します。
            原則的に返信はさせていただきませんのであらかじめご了承ください。
        </dd>

        <dt>Q. ビジネス上の問い合わせをしたい。</dt>
        <dd>
            A. 運営者のホームページにあるメールアドレスへ、組織のメールアドレスからご連絡ください。
        </dd>
    </dl>
</div>