@{
    ViewBag.Title = "遊び方";
}
<div class="box">
    <h2>遊び方</h2>
    <p>人狼ゲームオンライン２の遊び方をご紹介します。</p>
</div>

<div class="box">
    <h3>人狼ゲームオンライン２とは</h3>
    <p>『人狼ゲームオンライン』は、ヨーロッパで考案された伝統的なテーブルゲーム『人狼』をもとにした無料のブラウザゲームです。 プレイヤーは市民・人狼・妖狐の3チームに分かれ、自分の正体がばれないように交渉を重ねながら対抗チームの打倒を目指します。</p>
</div>

<div class="box">
    <h3>サイトのルール</h3>
    <ul>
        <li>チームの勝利のために頑張りましょう。</li>
        <li>仲良く遊びましょう。絶対に喧嘩や無理強いをしてはいけません。</li>
        <li>わからないことがあったら上級者からアドバイスをもらいましょう。</li>
        <li>チームに迷惑をかけてしまったら素直に謝りましょう。</li>
        <li>ずるをしてはいけません。外部で連絡を取り合うのもNGです。</li>
        <li>スパムや広告宣伝などでゲームの運営を妨げてはいけません。</li>
    </ul>
</div>

<div class="box">
    <h3>人狼ゲームオンライン1との主な違い</h3>
    <div class="alert alert-info">ゲーム画面は自動で更新されますのでブラウザの更新ボタンを押さないようにお気を付けください。</div>
    <ul>
        <li>とても高速になりました。</li>
        <li>使える役職が増えました。(神主、大狼、密猟者)</li>
        <li>通報機能が追加されました。</li>
        <li>Google+アカウントでログインするようになりました。</li>
        <li>ひとつのアカウントで複数のキャラクターを持てるようになりました。</li>
        <li>@Html.ActionLink("村の記録をダウンロードできるようになりました。(パソコンとAndroid)", "Index", "PlayLog")</li>
        <li>現在は短期人狼だけ遊べます。(将来的には中長期もサポートされる予定です。)</li>
    </ul>
</div>

<div class="box">
    <h3>参加してみましょう</h3>
    <p>遊び方はここまで読めば十分です。@Html.ActionLink("早速ゲームに参加してみましょう。", "Index", "Game")</p>
</div>

<div class="box">
    <h3>推奨動作環境</h3>
    <p>以下の環境か、それ以降のもので人狼ゲームオンライン２を遊んでいただくことをおすすめします。</p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>OS</th>
                <th>ブラウザ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Windows 7</td>
                <td>Google Chrome, IE10</td>
            </tr>
            <tr>
                <td>Mac OS X Lion</td>
                <td>Google Chrome, Safari</td>
            </tr>
            <tr>
                <td>Android 2.3.1</td>
                <td>Browser, Google Chrome *2</td>
            </tr>
            <tr>
                <td>iOS 5.1.1</td>
                <td>Safari Mobile</td>
            </tr>
            <tr>
                <td>Windows Phone 8</td>
                <td>IE Mobile</td>
            </tr>
        </tbody>
    </table>
    <p class="text-muted">
        *1 バージョンの記載がない場合は最新のものをご利用ください。<br/>
        *2 Androidをお使いの方はGoogle Chromeをご利用いただくことでより快適に遊べます。<br/>
        *3 可能な限り対応端末を広げ、動作を安定させてまいりますが、動作を保証するものではございません。<br />
    </p>
</div>

<div class="box">
    <h3>FAQ</h3>
    <dl class="basic">
        <dt>Q. 人狼ゲームオンライン2が正式に公開されるとき、1はおしまいになりますか？</dt>
        <dd>A. いいえ。2でのプレイをお勧めしますが、1も引き続き運営されます。</dd>

        <dt>Q. 『test』以外に管理人やその関係者をにおわせるプレイヤーがいるのだけれど...</dt>
        <dd>
            A. 間違いなく偽物です。どうか絶対に信用しないでください。
            管理人は現在『test』というキャラクターだけを使用しています。
            そのキャラクターのメッセージは緑色になり、他のプレイヤーとは見分けがつくようになっています。
            また、このサイトで管理人の知り合いは一切遊んでいません。(いたとしても、こっそり遊んでいるようです。)
        </dd>

        <dt>Q. 要望を投書したい。</dt>
        <dd>
            A. 公式Twitterアカウントへメッセージを送っていただけば必ず拝見します。
            原則的に返信はさせていただきませんのであらかじめご了承ください。
        </dd>

        <dt>Q. ビジネス上の問い合わせをしたい。</dt>
        <dd>
            A. 運営者のホームページにあるメールアドレスへ、組織のメールアドレスからご連絡ください。
        </dd>
    </dl>
</div>

<div class="box">
    <h3>参加してみましょう</h3>
    <p>遊び方はここまでです。@Html.ActionLink("早速ゲームに参加してみてください。", "Index", "Game")</p>
</div>