@{
    ViewBag.Title = "人狼ゲームオンライン1について";
}
<div class="box">
    <h2>人狼ゲームオンライン1について</h2>
    <div class="well">
        <p>
            人狼ゲームオンライン1は現在公開を休止しています。
        </p>
        <p>
            特に過去数日間にわたって高い負荷が発生し、それにより快適なプレイが妨げられる状態が続いておりました。
            運営側では改善に努めてまいりましたが抜本的な解決が望めず、これ以上のご不便をおかけするわけにもまいりませんので、より堅固な人狼ゲームオンライン2を1の代わりとして先行公開させていただくことになりました。
        </p>
        <p>
            突然のことで戸惑われることもあると思い、誠に申し訳ございません。
        </p>
        <p>
            どうかご理解いただき、今後も人狼ゲームオンラインを応援していただければ幸いです。
        </p>
        <p>- 人狼ゲームオンライン管理人 test</p>
    </div>

    <p>@Html.ActionLink("トップページへ戻る", "Index", "Home")</p>
</div>
