@{
    ViewBag.Title = "相互リンク";
}
<div class="box">
    <h2>相互リンク</h2>
    <p>
        人狼ゲームオンライン2は以下のサイト様と相互リンクになっています。(敬称略)
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>サイト名</th>
                <th>紹介</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://ge-mu.net/" target="_blank">オンラインゲーム総合サイト</a></td>
                <td>インターネット黎明期(管理人が高校生だった頃)から存在する老舗のオンラインゲーム紹介サイトです。パソコン向けのものが中心ですが、最近はスマートフォン向けのものも紹介されているようです。</td>
            </tr>
        </tbody>
    </table>

    <p>@Html.ActionLink("トップページへ戻る", "Index", "Home")</p>

    <div>
        <p>人狼ゲームオンライン2ではサービスの一部にお名前.comのサーバを使用しています。</p>
        <a href="http://px.a8.net/svt/ejp?a8mat=2C0APE+CPUCZ6+50+357CYP" target="_blank">
            <img border="0" width="728" height="90" alt="" src="http://www26.a8.net/svt/bgt?aid=141101618769&wid=001&eno=01&mid=s00000000018019014000&mc=1" />
        </a>
        <img border="0" width="1" height="1" src="http://www11.a8.net/0.gif?a8mat=2C0APE+CPUCZ6+50+357CYP" alt="" />
    </div>
</div>
