@model IEnumerable<ApiScheme.Scheme.GameServerStatus>
@{
    Layout = null;
}

<h2>サーバ</h2>
<table class="table">
    <thead>
        <tr>
            <th>状態</th>
            <th>名称</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>
                    @if (s.players < 0.33 * s.maxPlayers)
                    {
                        <span class="label label-success">快適</span>
                    }
                    else if (s.players < 0.66 * s.maxPlayers)
                    {
                        <span class="label label-warning">混雑</span>
                    }
                    else
                    {
                        <span class="label label-danger">満員</span>
                    }
                </td>
                <td>@s.name</td>
                <td><a href="@Url.RouteUrl(new { controller = "Game", action = "Play", host = s.host, port = s.port })">参加する</a></td>
            </tr>
        }
    </tbody>
</table>
<p>
    村の一覧と募集チャットがサーバごとに分かれています。
    キャラクターと戦績は全てのサーバで共有されます。
</p>