
@{
    
}

<div class="box">
    <h2>ログアウトしました</h2>
    <p>
        ゲームからログアウトしました。
        別のGoogle+アカウントでログインするには、<a href="http://google.com/" target="_blank">Googleからもログアウト</a>してから、再びゲームへ参加してみてください。
    </p>
</div>