<?xml version="1.0" encoding="utf-8"?>
<!--
    メモ: Test プロジェクトにのみ適用される構成設定の App.config ファイルに
 エントリを追加します。
-->
<configuration>
    <appSettings>
      <add key="PublicKeyXmlString" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;lfNfUVDT/Ort069SKlN5O77fEN3VPmKfX0b2lruWgd3dfOEZwCNUEovx0tcTUvUKN2W5M0MAGUgApAYHKzngaDE6A6l+1A/wqZSU3Jvhso4pfv20s+a/ty9ZzdzopXaR7tLsfv5jU3aG4I/apo5OWagAjyRN33mRQ3ZtNgYOJgU=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
      <add key="AesKey" value="RYtoTxHdu9Er4F9oFdK3m7k8tpu9hitAxWPU9iFRubg=" />
      <add key="AesIv" value="orfxwbQx7HoHja4SDWo9UA==" />
      <add key="ApiServer" value="http://localhost:60836/" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
